<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ChangePassword</servlet-name>
  	<display-name>ChangePassword</display-name>
  	<description></description>
  	<servlet-class>ChangePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginCreator</servlet-name>
  	<display-name>loginCreator</display-name>
  	<description></description>
  	<servlet-class>loginCreator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckLoginCreator</servlet-name>
  	<display-name>CheckLoginCreator</display-name>
  	<description></description>
  	<servlet-class>CheckLoginCreator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logoutCreator</servlet-name>
  	<display-name>logoutCreator</display-name>
  	<description></description>
  	<servlet-class>logoutCreator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckMailCreator</servlet-name>
  	<display-name>CheckMailCreator</display-name>
  	<description></description>
  	<servlet-class>CheckMailCreator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>registerCreator</servlet-name>
  	<display-name>registerCreator</display-name>
  	<description></description>
  	<servlet-class>registerCreator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>resetCreator</servlet-name>
  	<display-name>resetCreator</display-name>
  	<description></description>
  	<servlet-class>resetCreator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>accountCreator</servlet-name>
  	<display-name>accountCreator</display-name>
  	<description></description>
  	<servlet-class>accountCreator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangeDetailsCreator</servlet-name>
  	<display-name>ChangeDetailsCreator</display-name>
  	<description></description>
  	<servlet-class>ChangeDetailsCreator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePasswordCreator</servlet-name>
  	<display-name>ChangePasswordCreator</display-name>
  	<description></description>
  	<servlet-class>ChangePasswordCreator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getSongs</servlet-name>
  	<display-name>getSongs</display-name>
  	<description></description>
  	<servlet-class>getSongs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getImage</servlet-name>
  	<display-name>getImage</display-name>
  	<description></description>
  	<servlet-class>getImage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getSongLink</servlet-name>
  	<display-name>getSongLink</display-name>
  	<description></description>
  	<servlet-class>getSongLink</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChangePassword</servlet-name>
  	<url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginCreator</servlet-name>
  	<url-pattern>/loginCreator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckLoginCreator</servlet-name>
  	<url-pattern>/CheckLoginCreator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logoutCreator</servlet-name>
  	<url-pattern>/logoutCreator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckMailCreator</servlet-name>
  	<url-pattern>/CheckMailCreator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>registerCreator</servlet-name>
  	<url-pattern>/registerCreator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>resetCreator</servlet-name>
  	<url-pattern>/resetCreator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>accountCreator</servlet-name>
  	<url-pattern>/accountCreator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangeDetailsCreator</servlet-name>
  	<url-pattern>/ChangeDetailsCreator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePasswordCreator</servlet-name>
  	<url-pattern>/ChangePasswordCreator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getSongs</servlet-name>
  	<url-pattern>/getSongs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getImage</servlet-name>
  	<url-pattern>/getImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getSongLink</servlet-name>
  	<url-pattern>/getSongLink</url-pattern>
  </servlet-mapping>
  <welcome-file-list>  
   <welcome-file>index.html</welcome-file>  
   <welcome-file>default.html</welcome-file>  
  </welcome-file-list> 
</web-app>
